argon2-cffi==18.1.0
bcrypt==3.1.4
certifi==2022.12.7
cffi==1.11.4
dataclasses==0.4
dj-database-url==0.4.2
dj-mongo-database-url==0.1.1
dj-static==0.0.6
Django==2.0.1
django-mongodb-engine==0.6.0
djangotoolbox==1.8.0
djongo==1.2.19
gunicorn==19.7.1
dnspython==2.1.0
Pillow==5.0.0
pycparser==2.18
pymongo==3.6.0
python-decouple==3.1
pytz==2017.3
six==1.11.0
sqlparse==0.2.4
static3==0.7.0
