{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
  <div class="jumbotron">
    {% if registered %}
      <h1 class="text-center">Thanks for Registering!</h1>
      <br />
      <br />
      <div class="thanks-image">
        <img class="dance-image text-center" src="{% static 'thanks.gif' %}" width="350px" height="400px" alt="thanks"></img>
      </div>
    {% else %}
      <h1>Register by Filling out the form:</h1>
        <form method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          <input type="submit" class='btn btn-primary' value="Register">
        </form>
    {% endif %}
  </div>

{% endblock %}
