canvas
{
  transform: rotate(-90deg);
  background-image: url('https://docs.zoho.com/viewembeddoc.do?docId=34tnzdaf04f4666624ebea695e8902684d2ee&ftype=image&imgWidth=770&imgHeight=515&version=1.0');
  background-size: 103% 109%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: -1px;
  background-position-y: -16px;
}
div b
{
	font-size:20px;
	font-family: sans-serif;
}
div b:nth-child(1)
{
	color:#6C7A89;
}
div b:nth-child(1):after,div b:nth-child(2):after
{
	content:" : ";
}
div b:nth-child(3):after
{
	content:"  ";
}
div b:nth-child(2)
{
	color:#4ECDC4;
}
div b:nth-child(3)
{
	color:#87D37C;
}
div b:nth-child(4)
{
	font-weight: 400;
}
