.about-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.button-container{
  display: flex;
  justify-content: center;
}

.buttons{
  margin-right: 5px;
}

.nav-container{
  display: flex;
  justify-content: flex-end;
}
