{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
  <div class="jumbotron">
    <div class="profile-container">
      <img src="{% static 'profile_image.png' %}" width="250px" height="250px" alt="Profile">
      <form class="form-container" method="post">
        {% csrf_token %}
        <h1 class="title">{{ user.username.title }}</h1>
        {{ user_form.as_p }}
        <label class="password">Password:</label>
        <input type="password" name="password">
        {{ profile_form.as_p }}
        <input class="btn btn-primary" type="submit" name="submit" value="Make Changes">
      </form>
    </div>
  </div>

{% endblock %}
