.about-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.button-container{
  display: flex;
  justify-content: space-between;
}

.buttons{
  margin-right: 5px;
}

.nav-container{
  display: flex;
  justify-content: flex-end;
}

.nav-inline{
  flex-wrap: nowrap;
}

.profile-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: lightblue;
  padding: 4%;
}

.form-container{
  width: 400px;
}

div.greetings.ion-android-person{
  font-size: 1.25rem;
  color: wheat;
  margin-right: 10px;
}

.jumbotron{
  padding: 8%;
}

.title{
  padding-bottom: 6%;
}

.password{
  padding-bottom: 15px;
}

.btn-primary {
   color: #fff;
   background-color: #ff8f00;
   border-color: darkmagenta;
}

.karma-font{
  font-family: "Karma";
}

.coiny-font{
  font-family: "Coiny";
}

.dance-image{
  margin-top: 15px;
}

.thanks-image{
  display:flex;
  justify-content: center;
}

.clock-container{
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.top-clock{
  margin-bottom: 20px;
  margin-left: 31px;
}

.menu-size{
  font-size: 1.22rem;
}

.dropdown-menu{
  font-size: 1.30rem;
  margin-top: -10px;
}

.dropdown{
  background-color: #343a40 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
  background-color: darkgray;
  font-size: 1.80rem;
}

.button-drop{
  padding-left: 0;
}

.intro-login{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login2-container{
  display:flex;
  justify-content: space-around;
}

.login2{
  margin-top: -65px;
}
