{% extends "base.html" %}

{% block body_block %}
  <div class="jumbotron">
    <h4><u>About Me</u></h4>
    <p>I work on different projects using a variety of languages like
    Ruby, Python, and JavaScript. I have also worked with Rails, Django,
  React.js, Redux, SQL, MongoDB, and Node.js.</p>
    <hr />
    <h4><u>About Project</u></h4>
    <p>You can log in and out, register form for a user, and look at your profile.
    You can check out the visuals in this project by signing up.</p>
  </div>

{% endblock %}
