<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Coiny|Karma" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'master.css' %}">
  </head>
  <body>
    <nav class='navbar navbar-expand-lg navbar-dark bg-dark navbar-static-top'>
        <a class='navbar-brand mb-0 h1 karma-font' href="{% url 'index' %}">Home</a>
        <a class='navbar-brand karma-font' href="{% url 'about' %}">About</a>
        {% if user.is_authenticated %}
          <div class="greetings ion-android-person coiny-font"> Hello, {{ user.username.title }}</div>
        {% endif %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <a class='navbar-brand karma-font' href="{% url 'clocks' %}">Fun Clocks</a>
            <div class="dropdown karma-font">
              <button class="button-drop btn btn-dark menu-size dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'games:forced' %}">Graph Game</a>
                <a class="dropdown-item" href="{% url 'games:wave' %}">Wave Game</a>
                <a class="dropdown-item" href="{% url 'games:particle' %}">Particle Game</a>
              </div>
          </div>
            <a class='navbar-brand karma-font' href="{% url 'accounts:profile_detail' %}">Profile</a>
            <a class='navbar-brand karma-font' href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a class='navbar-brand karma-font' href="{% url 'accounts:user_login' %}">Login</a>
            <a class='navbar-brand karma-font' href="{% url 'accounts:register' %}">Register</a>
          {% endif %}
          </div>
    </nav>
    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>
  </body>
</html>
