{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'analog_clock.css' %}">
<link rel="stylesheet" href="{% static 'digital_clock.css' %}">
<h3 class="text-center">Enjoy the Unique Clocks</h3>
<script type="text/javascript">
    var myTimer = setInterval(setClock,1000);
    function setClock(){
   document.getElementById("clock").innerHTML=new Date().toLocaleTimeString();}
</script>
<script type="text/javascript">
$(document).ready(function ()
{
	clock()
})
function clock()
{
	set=1
	setInterval(function (){
	var dt=new Date()
	var hrs=dt.getHours()
	var tz="AM"
	if (hrs>12)
	{
		hrs=hrs-12
		tz="PM"
	}
	var min=dt.getMinutes()
	var sec=dt.getSeconds()
	$("div b:nth-child(1)").text(hrs)
	$("div b:nth-child(2)").text(min)
	$("div b:nth-child(3)").text(sec)
	$("div b:nth-child(4)").text(tz)
	if (sec==0 && set%2!=0)
	{
		sec=60
	}
	drawClock(hrs*30+(min/2),min*6,sec*6)
	if (sec==60 ||sec==0)
	{
		set++
	}
	},1000)
}
function drawClock(hd,md,sd)
{
	var canvasTag=$("canvas")[0]
	var canvas = canvasTag.getContext("2d");
	canvas.clearRect(0,0,400,400)
	canvas.lineWidth=15;
	//canvas.lineCap="round";
	canvas.strokeStyle="#87D37C";
	canvas.beginPath();
	if (set%2==0)
	{
		canvas.arc(200, 200, 120, 0, sd * Math.PI/180,true);
	}
	else
	{
		canvas.arc(200, 200, 120, 0, sd * Math.PI/180);
	}
	canvas.stroke();
	canvas.closePath();
	canvas.strokeStyle="#4ECDC4";
	canvas.beginPath();
	canvas.arc(200, 200, 100, 0, md * Math.PI/180);
	canvas.stroke();
	canvas.closePath();
	canvas.strokeStyle="#6C7A89";
	canvas.beginPath();
	canvas.arc(200, 200, 80, 0, hd * Math.PI/180);
	canvas.stroke();
}
</script>

  <div class="jumbotron clock-container">
    <div>
      <div class="top-clock">
        <p id="clock">HH:MM:SS</p>
      </div>
      <canvas height="400px" width="400px"></canvas>
    </div>
  </div>
{% endblock %}
